/* CSS Document */
* {
  box-sizing: border-box;
}
/* font-face */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/css/fonts/NotoSansKR-Thin.woff) format('woff'),
        url(/css/fonts/NotoSansKR-Thin.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/css/fonts/NotoSansKR-Light.woff) format('woff'),
         url(/css/fonts/NotoSansKR-Light.ttf) format('ttf');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: url(/css/fonts/NotoSansKR-Regular.woff) format('woff'),
          url(/css/fonts/NotoSansKR-Regular.ttf) format('ttf');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: url(/css/fonts/NotoSansKR-Medium.woff) format('woff'),
          url(/css/fonts/NotoSansKR-Medium.ttf) format('ttf');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 700;
     src: url(/css/fonts/NotoSansKR-Bold.woff) format('woff'),
          url(/css/fonts/NotoSansKR-Bold.ttf) format('ttf');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 900;
     src: url(/css/fonts/NotoSansKR-Black.woff) format('woff'),
          url(/css/fonts/NotoSansKR-Black.ttf) format('ttf');
   }

   @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: url(/css/fonts/Pacifico-Regular.woff) format('woff'),
        url(/css/fonts/Pacifico-Regular.ttf) format('ttf');
 }


/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: baseline;
}

menu,
ol,
ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input {
    cursor: pointer;
}


a,
span,
strong,
p {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

/* common */
.wrap {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    color: #333;
    overflow: hidden;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 240px);
    height: 100px;
    margin: 0 auto;
}

.eng {
    font-size: 24px;
    font-family: 'Pacifico';
    color: #0F296F;
    margin-right: 417px;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    display: block;
    height: 100%;
    padding: 0 60px;
    transition: ease 0.3s all;

}

nav ul li a:hover {
    color: #2189F9;
}

.menu a span {
    font-size: 20px;
    font-weight: 500;
}

.menu ul {
    display: none;
    position: absolute;
    width: 10%;
    background: rgba(255,255,255,0.6);
}

.menu:hover ul {
    display: block;
    z-index: 20;
}

.menu ul li {
    padding: 10px 0px 10px 0px; 
    font-size: 12px;
}

article.container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

article.container section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.visual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 36px;
    height: 675px;
    background: url(../images/visual_bg.png);
}

.visual-left {
    margin-left: 120px;
}

.visual-left .sub-txt {
    font-size: 30px;
    font-weight: bold;
    color: #4EA3FF;
}

.visual-left .main-txt {
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    color: #fff;
    margin-top: 20px;
}

.visual-right {
    margin-right: 120px;
}

.visual-right .visual-img-wrap {
    position: relative;
    display: block;
    width: 822px;
    height: 500px;
    overflow: hidden;
}

.visual-right .visual-img-wrap .visual-img {
    display: none;
    width: 100%;
    height: 100%;
}

.visual-right .visual-img-wrap .visual-img:first-child {
    display: block; /* 첫 번째 이미지를 기본으로 표시 */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.4);
    color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10; /* 버튼이 이미지 위에 표시되도록 */
    padding: 10px 20px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

button:hover {
    background-color: rgba(255,255,255,0.8);
    opacity: 0.8;
}

.pr {
    grid-gap: 36px;
    width: calc(100% - 240px);
    height: 462px;
    margin: 0 auto;
}

.video-box {
    display: block;
    width: 822px;
    height: 100%;
    overflow: hidden;
}

.contact-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 536px;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #2189F9;
    padding: 40px;
    box-sizing: border-box;
}

.contact-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contact-tit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact-tit .icon {
    display: inline-flex;
    width: 120px;
    height: 120px;
    background: #EBF5FF;
    border-radius: 65px;
    margin-right: 20px;
    position: relative;
}

.contact-tit .icon::after {
    display: inline-block;
    content: '';
    width: 49px;
    height: 58px;
    background: url(../images/call.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.contact-body ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.contact-body ul li {
    font-size: 24px;
}

.contact-body .contact-name {
    width: 160px;
    margin-right: 14px;
}

.contact-body .location {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.contact-body .location-tit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}

.contact-body .location-tit .icon {
    display: inline-flex;
    width: 25px;
    height: 38px;
    background: url(../images/location.png) no-repeat;
    margin-right: 14px;
}

.contact-body .location-txt {
    font-size: 20px;
    font-weight: 400;
    margin: 14px 0 0 39px;
}

.sns ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 38px;
    height: 100%;
}

.sns ul li a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 212px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 38px;
    box-sizing: border-box;
    transition: ease 0.3s all;
}

.sns ul li a span {
    font-size: 18px;
}

.sns ul li a.instagram .icon {
    display: block;
    width: 80px;
    height: 80px;
    background: url(../images/instagram.png);
}

.sns ul li a.instagram span {
    margin-top: 26px;
}

.sns ul li a.youtube .icon {
    display: block;
    width: 169px;
    height: 49px;
    background: url(../images/youtube.png);
}

.sns ul li a.youtube span {
    margin-top: 34px;
}

.sns ul li a:hover {
    border-color: #2189F9;
}

article.container section.notice {
    justify-content: flex-start;
    align-items: flex-start;
    height: 646px;
    background: #EBF5FF;
    padding: 80px 0;
    box-sizing: border-box;
    position: relative;
}

article.container section.notice::before {
    display: inline-block;
    content: '';
    width: 484px;
    height: 362px;
    background: url(../images/pig.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.notice-name {
    display: block;
    width: 393px;
    font-size: 44px;
    font-weight: bold;
    color: #2189F9;
    margin-left: 120px;
}

.notice-contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 36px;
    height: 486px;
    margin-right: 120px;
}

.notice-contents li a {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #fff;
}

.notice-contents li a:hover {
    box-shadow: 0 0 12px rgba(33, 137, 249, 0.2);
    transition: ease 0.3s all;
}

.notice-contents li a .notice-img {
    display: inline-flex;
    width: 396px;
    height: 320px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    box-sizing: border-box;
}

.notice-info {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
}

.notice-tit {
    font-size: 18px;
    font-weight: bold;
}

.notice-txt {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.notice-date {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.notice-date .icon {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/clock.png);
    background-size: contain;
    margin-right: 6px;
}

.footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 30px 120px 40px;
    box-sizing: border-box;
}

.footer-top {
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.footer-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.footer-link a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 16px;
    margin-right: 16px;
    position: relative;
}

.footer-link a::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.footer-link li:last-child a {
    margin: 0;
}

.footer-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}

.footer-info {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-info a,
.footer-info li {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 8px;
}

.footer-info a.copyright {
    margin: 0;
}

.footer-logo p.eng {
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}
